<div class="award-xp-form">
	<div class="award-xp-primary"><label for="xp">{{localize "award-xp.group-xp"}}</label><input id="award-xp-xp" type="text" name="xp"/></div>
	{{#if secondaryName}}
		<div class="award-xp-secondary"><label for="secondary-xp">{{secondaryName}}</label><input type="text" name="secodnary-xp" id="award-xp-secondary-xp"/></div>
	{{/if}}
</div>
<div class="award-xp-char-list">
	{{#if showSoloXp}}
		{{#each characters}}
			<div><div><input class="award-xp-char-selector" type="checkbox" name="{{this.id}}" checked/></div><div class="award-xp-char-img-box"><img src="{{this.image}}"/></div><div>{{this.name}}</div><div><input class="award-xp-solo" type="text" name="xp{{this.id}}" placeholder="{{localize "award-xp.bonus-xp-placeholder"}}"/></div></div>
		{{/each}}
	{{else}}
		{{#each characters}}
			<div><div><input class="award-xp-char-selector" type="checkbox" name="{{this.id}}" checked/></div><div class="award-xp-char-img-box"><img src="{{this.image}}"/></div><div>{{this.name}}</div></div>
		{{/each}}
	{{/if}}
</div>
